.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.video-panel {
  flex-grow: 1;
  background-color: #f4f4f4;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #fff;
  }

  .video-panel {
    width: 100%;
  }
}
