/* login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #253573;
  }
  
  .login-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border: 2px solid #000000; 
    border: 4px solid #dfd3d3; 
  }
  
  
  .login-title {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .login-input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .login-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .login-divider p {
    margin: 0;
    font-size: 14px;
    color: #888;
  }
  
  .login-social-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .login-social-button {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .login-social-button.google {
    background-color: #4285f4;
    color: white;
  }
  
  .login-social-button.facebook {
    background-color: #4267b2;
    color: white;
  }
  
  .login-social-button svg {
    margin-right: 10px;
  }
  
  .login-footer {
    text-align: center;
    font-size: 14px;
  }
  
  .login-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  